/* You can add global styles to this file, and also import other style files */
body{
margin: 0;
padding: 0;
}

#header{
width: 100%;
background: rgb(28, 81, 151);
}



#icon{
margin-top: 7px;
margin-left: 5px;
margin-bottom: 7px;
float: left;

}

.navbar-brand{
margin-top:7px;
}

#menu-top{
margin-left: 60px;
margin-top: 10px;

}

#menu-top li a{
color: white;

}

#menu-top li a:hover{
background: rgb(28, 81, 151);
color: rgb(138, 156, 194);
height:100%;

}

.input-group{
width: 280px;
margin-top: 10px;
    float: left;
}


#hLogin ul li a{
color: white;
margin-top: 20px;
}

#hLogin ul li a:hover{
color:black;
background: rgb(28, 81, 151);
}



#body{
background: rgb(147, 147, 182);
width: 100%;
height: 500px;
float: left;
margin: 0px;
padding: 0px;
}

#footer{
background: rgb(28, 81, 151);
width: 100%;
height: 135px;
float: left;
}

#adress{
font-size:50px;
color:white;
margin-left: 390px;
margin-top: 25px;

}

#adress a{
color: white;

}

#adress a i{
margin-left: 58px;

}

#adress a i:hover{
color: rgb(138, 156, 194);
}

#ngconten{
float: left;
color: white;
margin-left: 46%;
margin-top: 15px;
font-size: 15px;
}